@import url("https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700");

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    font-family: "Inter", sans-serif;
}

h1 {
    font-size: 98px;
    font-weight: 700;
}
